<div class="m-t-30">
	<form id="formLogin" action="" method="post" style="margin: auto; width: 350px;">
		<div class="auth-box card" style="background: none;">

			<div class="card-block">
				<div class="row m-b-20">
					<div class="col-md-12 text-center my-2">
						<img src="./resources/img/goku.jpg" alt="logo" />
					</div>
				</div>
				<div class="row mx-3">
					<div class="col-sm-3">
						<label class="col-form-label mt-10">Usuário</label>
					</div>
					<div class="col-sm-9">
						<input id="username" type="text" name="username" class="form-control pl-3" placeholder="Digite o usuário" required>
					</div>
				</div>
				<br>
				<div class="row mx-3">
					<div class="col-sm-3">
						<label class="col-form-label mt-1">Senha</label>
					</div>
					<div class="col-sm-9">
						<input id="password" type="password" name="password" class="form-control pl-3" placeholder="Digite a senha" required>
					</div>
				</div>

				<div class="row m-t-30">
					<div class="col-md-12">
						<div class="loader hidden"></div>
						<button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Login</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>